<!-- _includes/header.html -->
<div class="header">
  <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
    <img src="{{ '/assets/img/InfraBlog.svg' | relative_url }}">
  </a>
  <nav class="InfraNavigation">
    <a href="https://infrahq.com">Infra</a>
    <a href="https://infrahq.com/docs/getting-started/introduction">Documentation</a>
    <a href="https://infrahq.com/about">About</a>
    <a href="https://github.com/infrahq/infra">Open in Github</a>
  </nav>
</div>

<!-- jeckyll header

<header class="site-header" role="banner">
  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %} {% assign page_paths =
    site.header_pages | default: default_paths %}
  </div>
</header>

-->
